services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: unless-stopped
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network
    ports:
      - "27017:27017"

  gios-data:
    ports:
      - "8081:8081" 
    build:
      context: ./gios-data
      dockerfile: Dockerfile
    container_name: gios-data-app
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATA_MONGODB_HOST=mongodb
      - SPRING_DATA_MONGODB_PORT=27017
      - SPRING_DATA_MONGODB_DATABASE=atmo-check-db
      - SERVER_PORT=8081
    depends_on:
      - mongodb
    networks:
      - app-network

  open-meteo-data:
    ports:
      - "8083:8083"
      - "5006:5006" 
    build:
      context: ./open-meteo-data
      dockerfile: Dockerfile
    container_name: open-meteo-data-app
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATA_MONGODB_HOST=mongodb
      - SPRING_DATA_MONGODB_PORT=27017
      - SPRING_DATA_MONGODB_DATABASE=open-meteo-db
      - SERVER_PORT=8083
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5006
    depends_on:
      - mongodb
    networks:
      - app-network

  aggregator:
    ports:
      - "8082:8082"
      - "5005:5005"
    build:
      context: ./aggregator
      dockerfile: Dockerfile
    container_name: aggregator-app
    restart: unless-stopped
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SERVER_PORT=8082
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    networks:
      - app-network

  openaq-data:
    build:
      context: ./openaq-data
      dockerfile: Dockerfile
    container_name: openaq-data-app
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      - MONGO_URI={MONGO_URI}
      - OPENAQ_API_KEY=${OPENAQ_API_KEY}
    depends_on:
      - mongodb
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongodb_data: