{
  "openapi": "3.0.3",
  "info": {
    "title": "Interfejs programistyczny aplikacji (API)",
    "description": "\u003Cimg  alt ='logo' src = '/pjp-api/images/logo.jpg'\u003E\n\n\u003Cb\u003EUtworzenie usług API portalu Jakość Powietrza Głównego Inspektoratu Ochrony Środowiska sfinansowano ze środków Narodowego Funduszu Ochrony Środowiska i Gospodarki Wodnej.\u003C/b\u003E\n\nInterfejs API portalu Jakość Powietrza GIOŚ umożliwia dostęp do danych dotyczących jakości powietrza w Polsce, wytwarzanych w ramach Państwowego Monitoringu Środowiska i gromadzonych w systemie informatycznym EKOINFONET. Udostępniane dane mogą ulegać zmianie w późniejszym czasie.\n\nKorzystając z API akceptują Państwo warunki zawarte w Regulaminie portalu. Użytkownik ponownie wykorzystujący informacje sektora publicznego udostępniane na portalu Jakość Powietrza zobowiązany jest w sposób czytelny i wyraźny wskazać źródło pozyskania informacji.\n\nPoniższa lista opisuje usługi sieciowe API GIOŚ w standardzie REST wykorzystujące zapytanie HTTP GET. Dane udostępniane są w formacie JSON-LD.",
    "contact": {
      "name": "API - GŁÓWNY INSPEKTORAT OCHRONY ŚRODOWISKA ",
      "email": "api@gios.gov.pl"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.gios.gov.pl",
      "description": "serwer"
    }
  ],
  "tags": [
    {
      "name": "Agregaty pomiarów",
      "description": "Usługa sieciowa udostępniająca agregaty ze stanowisk automatycznych za 3 ostatnie doby w podziale na województwa i powiaty:\n1. Agregat Maksimum ze średnich 8-godzinnych z 1-godzinnych wyników pomiarów pyłu zawieszonego PM10;\n2. Agregat Średnia 24-godzinna z 1-godzinnych wyników pomiarów pyłu zawieszonego PM10"
    },
    {
      "name": "Archiwalne dane pomiarowe",
      "description": "Usługa sieciowa udostępniająca archiwalne dane pomiarowe na podstawie podanego identyfikatora stanowiska pomiarowego. Wyniki pomiarów jednogodzinnych udostępniane są zawsze w czasie CET (UTC+ 01:00, czas środkowoeuropejski zimowy)."
    },
    {
      "name": "Bieżące dane pomiarowe",
      "description": "Usługa sieciowa udostępniająca dane pomiarowe na podstawie podanego identyfikatora stanowiska pomiarowego, od ostatniej pełnej godziny do trzeciej doby wstecz. Wyniki pomiarów udostępniane są w czasie lokalnym, tj. latem w czasie CEST (UTC+ 02:00, czas środkowoeuropejski letni), zimą w czasie CET (UTC+ 01:00, czas środkowoeuropejski zimowy)."
    },
    {
      "name": "Indeks jakości powietrza",
      "description": "Usługa sieciowa udostępniająca indeks jakości powietrza na podstawie podanego identyfikatora stacji pomiarowej. "
    },
    {
      "name": "Informacje o przekroczeniu",
      "description": "Usługa sieciowa udostępniająca aktywne informacje o przekroczeniu poziomu informowania, alarmowego, dopuszczalnego i docelowego zanieczyszczeń z uwzględnieniem danych i parametrów."
    },
    {
      "name": "Mapy rozkładów stężeń zanieczyszczeń",
      "description": "Usługa sieciowa udostępniająca dane prezentowane na mapach rozkładów stężeń (https://powietrze.gios.gov.pl/pjp/maps/modeling) w formacie JSON-LD. Usługa zwraca do pobrania plik zgodnie z wybranym rokiem, typem wskaźnika i wskaźnikiem."
    },
    {
      "name": "Metadane",
      "description": "Usługa sieciowa udostępniająca metadane stacji pomiarowych: kod stacji, międzynarodowy kod stacji, nazwa stacji, stary kod stacji, data uruchomienia, data zamknięcia, typ stacji, typ obszaru, rodzaj stacji, województwo, miejscowość, ulica, współrzędne geograficzne (WGS84 φ N, WGS84 λ E) oraz metadane stanowisk pomiarowych: kod stanowiska, kod stacji, nazwa stacji, stary kod stacji, wskaźnik – kod, wskaźnik, czas uśredniania, typ pomiaru, data uruchomienia, data zamknięcia, województwo, nazwa strefy"
    },
    {
      "name": "Stacje pomiarowe i stanowiska pomiarowe",
      "description": "Usługa sieciowa udostępniająca listę stanowisk pomiarowych i stacji  "
    },
    {
      "name": "Statystyki roczne ",
      "description": "Statystyki roczne od roku 2000 dla SO2, NO2, NOx, CO, O3, C6H6, PM10, PM2,5, Pb(PM10), As(PM10), Cd(PM10), Ni(PM10), BaP(PM10), WWA(PM10), Jony(PM2,5), Hg(TGM), formaldehyd, depozycja, wraz z ich parametrami"
    }
  ],
  "paths": {
    "/pjp-api/v1/rest/aggregate/getAggregatePm10Data": {
      "get": {
        "tags": [
          "Agregaty pomiarów"
        ],
        "summary": "getAggregatePm10Data",
        "description": "Usługa sieciowa udostępniająca agregaty ze stanowisk automatycznych za 3 ostatnie doby w podziale na województwa i powiaty:\n1. Agregat Maksimum ze średnich 8-godzinnych z 1-godzinnych wyników pomiarów pyłu zawieszonego PM10;\n2. Agregat Średnia 24-godzinna z 1-godzinnych wyników pomiarów pyłu zawieszonego PM10\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/aggregate/getAggregatePm10Data.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/aggregate/getAggregatePm10Data",
        "operationId": "getAggregatePm10DataUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik.\nNumer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający ilość wyników na stronie.\nJest to dodatnia liczba całkowita podawana z kluczem parametru.\nDomyślna wartość → 20, Maksymalna wartość → 500.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę atrybutu znakiem minus. Parametr jest opcjonalny. \u003Cbr /\u003EDomyślne sortowanie odbywa się rosnąco po atrybutach Kod stanowiska oraz Data. \u003Cbr /\u003E Dostępne atrybuty:    \u003Cbr /\u003E Województwo - parametr dla nazwy województwa, \u003Cbr /\u003E Powiat - parametr dla nazwy powiatu ",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[powiat]",
            "in": "query",
            "description": "Powiat np. Katowice, Zabrze, Bielsko-Biała,  Warszawa, limanowski, ostrołęcki, olkuski. W przypadku wyboru kilku powiatów należy oddzielić je znakiem przecinka (,)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[wojewodztwo]",
            "in": "query",
            "description": "Województwo np. ŚLĄSKIE, WARMIŃSKO-MAZURSKIE, KUJAWSKO-POMORSKIE, MAŁOPOLSKIE. W przypadku wyboru kilku województw należy oddzielić je znakiem przecinka (,)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosAggregatePM10DataDTO"
                }
              }
            }
          },
          "201": {
            "description": "Utworzono nowy zasób",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "202": {
            "description": "Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "204": {
            "description": "Brak zawartości",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "301": {
            "description": "Przeniesiono na stałe",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "303": {
            "description": "Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "304": {
            "description": "Nie modyfikowano od czasu wskazanego w zapytaniu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "400": {
            "description": "Błędne żądanie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "401": {
            "description": "Brak autoryzacji",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "403": {
            "description": "Dostęp zabroniony",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "404": {
            "description": "Nie znaleziono",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "405": {
            "description": "Nieodpowiednia metoda",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "406": {
            "description": "Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "410": {
            "description": "Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "422": {
            "description": "Zapytanie niepoprawne semantycznie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "429": {
            "description": "Zbyt wiele zapytań w jednostce czasu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "500": {
            "description": "Wewnętrzny błąd serwera",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "502": {
            "description": "Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "503": {
            "description": "Usługa czasowo niedostępna.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "504": {
            "description": "Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          }
        }
      }
    },
    "/pjp-api/v1/rest/levels/getInformationAboutExceeding": {
      "get": {
        "tags": [
          "Informacje o przekroczeniu"
        ],
        "summary": "getInformationAboutExceeding",
        "description": "Usługa sieciowa udostępniająca aktywne informacje o przekroczeniu poziomu informowania, alarmowego, dopuszczalnego i docelowego zanieczyszczeń \n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/levels/getInformationAboutExceeding.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/levels/getInformationAboutExceeding",
        "operationId": "getInformationAboutExceedingUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik.\nNumer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający ilość wyników na stronie.\nJest to dodatnia liczba całkowita podawana z kluczem parametru.\nDomyślna wartość → 20, Maksymalna wartość → 500.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny. Domyśle sortowanie odbywa się malejąco po  parametrze Data i godzina.\u003Cbr /\u003E Dostępne atrybuty:    \u003Cbr /\u003E Województwo - parametr dla nazwy województwa.\u003Cbr /\u003EData - parametr dla Data i godzina",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[wojewodztwo]",
            "in": "query",
            "description": "Województwo np. ŚLĄSKIE, WARMIŃSKO-MAZURSKIE, KUJAWSKO-POMORSKIE, MAŁOPOLSKIE. W przypadku wyboru kilku województw należy oddzielić je znakiem przecinka (,)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosExceedingLdDTO"
                }
              }
            }
          },
          "201": {
            "description": "Utworzono nowy zasób",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "202": {
            "description": "Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "204": {
            "description": "Brak zawartości",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "301": {
            "description": "Przeniesiono na stałe",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "303": {
            "description": "Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "304": {
            "description": "Nie modyfikowano od czasu wskazanego w zapytaniu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "400": {
            "description": "Błędne żądanie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "401": {
            "description": "Brak autoryzacji",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "403": {
            "description": "Dostęp zabroniony",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "404": {
            "description": "Nie znaleziono",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "405": {
            "description": "Nieodpowiednia metoda",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "406": {
            "description": "Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "410": {
            "description": "Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "422": {
            "description": "Zapytanie niepoprawne semantycznie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "429": {
            "description": "Zbyt wiele zapytań w jednostce czasu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "500": {
            "description": "Wewnętrzny błąd serwera",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "502": {
            "description": "Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "503": {
            "description": "Usługa czasowo niedostępna.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "504": {
            "description": "Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          }
        }
      }
    },
    "/pjp-api/v1/rest/aqindex/getIndex/{stationId}": {
      "get": {
        "tags": [
          "Indeks jakości powietrza"
        ],
        "summary": "getIndex",
        "description": "Usługa sieciowa udostępniająca indeks jakości powietrza na podstawie podanego identyfikatora stacji pomiarowej.\nhttps://api.gios.gov.pl/pjp-api/v1/rest/aqindex/getIndex/{stationId}\n\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/aqindex/getIndex/52",
        "operationId": "getIndexUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik.\nNumer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający ilość wyników na stronie.\nJest to dodatnia liczba całkowita podawana z kluczem parametru.\nDomyślna wartość → 20, Maksymalna wartość → 500.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.\nAby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stationId",
            "in": "path",
            "description": "Identyfikator stacji pomiarowej np. 52 \u003Cbr/\u003E Lista stacji i stanowisk pomiarowych wraz z ich id udostępniana jest poprzez usługi API \"Stacje pomiarowe i stanowiska pomiarowe”",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosAqIndexMetaDTO"
                }
              }
            }
          },
          "201": {
            "description": "Utworzono nowy zasób",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "202": {
            "description": "Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "204": {
            "description": "Brak zawartości",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "301": {
            "description": "Przeniesiono na stałe",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "303": {
            "description": "Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "304": {
            "description": "Nie modyfikowano od czasu wskazanego w zapytaniu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "400": {
            "description": "Błędne żądanie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "401": {
            "description": "Brak autoryzacji",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "403": {
            "description": "Dostęp zabroniony",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "404": {
            "description": "Nie znaleziono",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "405": {
            "description": "Nieodpowiednia metoda",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "406": {
            "description": "Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "410": {
            "description": "Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "422": {
            "description": "Zapytanie niepoprawne semantycznie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "429": {
            "description": "Zbyt wiele zapytań w jednostce czasu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "500": {
            "description": "Wewnętrzny błąd serwera",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "502": {
            "description": "Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "503": {
            "description": "Usługa czasowo niedostępna.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "504": {
            "description": "Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          }
        }
      }
    },
    "/pjp-api/v1/rest/archivalData/getDataBySensor/{idSensor}": {
      "get": {
        "tags": [
          "Archiwalne dane pomiarowe"
        ],
        "summary": "getArchivalDataBySensor",
        "description": "Usługa sieciowa udostępniająca archiwalne wyniki pomiarów automatycznych i manualnych na podstawie podanego identyfikatora stanowiska pomiarowego dla dowolnego wybranego okresu czasu (max. 366 dni). Należy podać identyfikator stanowiska oraz wybrać zakres czasu: Data od i Data do lub Liczba dni wstecz od \n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataBySensor/{idSensor}.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https:///api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataBySensor/52?dayNumber=3",
        "operationId": "getArchivalDataBySensorUsingGET",
        "parameters": [
          {
            "name": "idSensor",
            "in": "path",
            "description": "Identyfikator stanowiska np. 52                \u003Cbr/\u003E Lista stacji i stanowisk pomiarowych wraz z ich id udostępniana jest poprzez usługi API \"Stacje pomiarowe i stanowiska pomiarowe” ",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik.\nNumer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający ilość wyników na stronie.\nJest to dodatnia liczba całkowita podawana z kluczem parametru.\nDomyślna wartość → 20, Maksymalna wartość → 500.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę atrybutu znakiem minus. Parametr jest opcjonalny. \u003Cbr /\u003EDomyślne sortowanie odbywa się malejąco po atrybucie Data. \u003Cbr /\u003E Dostępne atrybuty:    \u003Cbr /\u003E Data - parametr dla daty \u003Cbr /\u003E ",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Data od:                                             \u003Cbr /\u003E- dla stanowisk automatycznych (wyniki jednogodzinne ) należy określić datę uwzględniając dni i godziny zgodnie z przykładem: 2022-02-23 15:00  \u003Cbr /\u003E - dla stanowisk manualnych (wyniki średniodobowe) należy określić datę uwzględniając dni zgodnie z przykładem: 2022-02-23 00:00 ",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Data do:                                                                   \u003Cbr /\u003E- dla stanowisk automatycznych (wyniki jednogodzinne ) należy określić datę uwzględniając dni i godziny zgodnie z przykładem: 2022-02-25 11:00  \u003Cbr /\u003E- dla stanowisk manualnych (wyniki średniodobowe) należy określić datę uwzględniając dni zgodnie z przykładem: 2022-02-25 00:00",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dayNumber",
            "in": "query",
            "description": "Liczba dni wstecz od dnia dzisiejszego np. 5 (dzień rozumiany jako 24 godziny wstecz od wywołania usługi)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosArchivalDataDto"
                }
              }
            }
          },
          "201": {
            "description": "Utworzono nowy zasób",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "202": {
            "description": "Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "204": {
            "description": "Brak zawartości",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "301": {
            "description": "Przeniesiono na stałe",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "303": {
            "description": "Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "304": {
            "description": "Nie modyfikowano od czasu wskazanego w zapytaniu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "400": {
            "description": "Błędne żądanie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "401": {
            "description": "Brak autoryzacji",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "403": {
            "description": "Dostęp zabroniony",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "404": {
            "description": "Nie znaleziono",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "405": {
            "description": "Nieodpowiednia metoda",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "406": {
            "description": "Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "410": {
            "description": "Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "422": {
            "description": "Zapytanie niepoprawne semantycznie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "429": {
            "description": "Zbyt wiele zapytań w jednostce czasu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "500": {
            "description": "Wewnętrzny błąd serwera",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "502": {
            "description": "Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "503": {
            "description": "Usługa czasowo niedostępna.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "504": {
            "description": "Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          }
        }
      }
    },
    "/pjp-api/v1/rest/archivalData/getDataForAllStations": {
      "get": {
        "tags": [
          "Archiwalne dane pomiarowe"
        ],
        "summary": "getArchivalDataForAllStations",
        "description": "Usługa sieciowa udostępniająca archiwalne wyniki pomiarów automatycznych i manualnych ze wszystkich stacji w kraju dla dowolnego wybranego okresu czasu (max. 31 dni). Należy wybrać zakres czasu: Data od i Data do lub Liczba dni wstecz od \n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStations.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStations?dayNumber=2",
        "operationId": "getArchivalDataForAllStationsUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik.\nNumer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający ilość wyników na stronie.\nJest to dodatnia liczba całkowita podawana z kluczem parametru.\nDomyślna wartość → 20, Maksymalna wartość → 500.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę atrybutu znakiem minus. Parametr jest opcjonalny. \u003Cbr /\u003EDomyślne sortowanie odbywa się rosnąco po atrybutach Kod stanowiska oraz Data. \u003Cbr /\u003E Dostępne atrybuty:    \u003Cbr /\u003E Data - parametr dla daty, \u003Cbr /\u003EKod - parametr dla kodu stanowiska ",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Data od:                                             \u003Cbr /\u003Enależy określić datę uwzględniając dni i godziny zgodnie z przykładem: 2022-02-23 15:00",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Data do:                                                                   \u003Cbr /\u003Enależy określić datę uwzględniając dni i godziny zgodnie z przykładem: 2022-02-25 11:00",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dayNumber",
            "in": "query",
            "description": "Liczba dni wstecz od dnia dzisiejszego np. 5 (dzień rozumiany jako 24 godziny wstecz od wywołania usługi)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosArchivalDataDto"
                }
              }
            }
          },
          "201": {
            "description": "Utworzono nowy zasób",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "202": {
            "description": "Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "204": {
            "description": "Brak zawartości",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "301": {
            "description": "Przeniesiono na stałe",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "303": {
            "description": "Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "304": {
            "description": "Nie modyfikowano od czasu wskazanego w zapytaniu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "400": {
            "description": "Błędne żądanie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "401": {
            "description": "Brak autoryzacji",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "403": {
            "description": "Dostęp zabroniony",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "404": {
            "description": "Nie znaleziono",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "405": {
            "description": "Nieodpowiednia metoda",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "406": {
            "description": "Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "410": {
            "description": "Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "422": {
            "description": "Zapytanie niepoprawne semantycznie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "429": {
            "description": "Zbyt wiele zapytań w jednostce czasu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "500": {
            "description": "Wewnętrzny błąd serwera",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "502": {
            "description": "Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "503": {
            "description": "Usługa czasowo niedostępna.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "504": {
            "description": "Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          }
        }
      }
    },
    "/pjp-api/v1/rest/archivalData/getDataForAllStationsByYearAndVoivodeship": {
      "get": {
        "tags": [
          "Archiwalne dane pomiarowe"
        ],
        "summary": "getDataForAllStationsByYearAndVoivodeship",
        "description": "Usługa sieciowa udostępniająca archiwalne wyniki pomiarów automatycznych i manualnych z wybranego roku kalendarzowego (również trwającego), dla wybranego zanieczyszczenia lub wszystkich łącznie, ze wszystkich stacji w wybranym województwie\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStationsByYearAndVoivodeship.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/archivalData/getDataForAllStationsByYearAndVoivodeship?year=2021&voivodeship=ŚLĄSKIE",
        "operationId": "getDataForAllStationsByYearAndVoivodeshipUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik.\nNumer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający ilość wyników na stronie.\nJest to dodatnia liczba całkowita podawana z kluczem parametru.\nDomyślna wartość → 20, Maksymalna wartość → 500.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę atrybutu znakiem minus. Parametr jest opcjonalny. \u003Cbr /\u003EDomyślne sortowanie odbywa się rosnąco po atrybutach Kod stanowiska oraz Data. \u003Cbr /\u003E Dostępne atrybuty:    \u003Cbr /\u003E Data - parametr dla daty, \u003Cbr /\u003EKod - parametr dla kodu stanowiska ",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Rok np. 2020",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "voivodeship",
            "in": "query",
            "description": "Województwo np. ŚLĄSKIE, WARMIŃSKO-MAZURSKIE, KUJAWSKO-POMORSKIE, MAŁOPOLSKIE",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pollution",
            "in": "query",
            "description": "Dostępne zanieczyszczenia: 123trimetylobenzen, 124trimetylobenzen, 135trimetylobenzen, 13butadien, 1buten, 1penten, 2penten, As(PM10), As(cdepoz), BaA(PM10), BaA(cdepoz), BaP(PM10), BaP(cdepoz), BbF(PM10), BbF(cdepoz), BjF(PM10), BjF(cdepoz), BkF(PM10),\nBkF(cdepoz), C6H6, CO, Ca2+(PM2.5), Cd(PM10), Cd(cdepoz), Cl_(PM2.5), Cr(PM10), Cu(PM10), DBahA(PM10), DBahA(cdepoz), EC(PM2.5), HCl,\nHg(TGM), Hg(cdepoz), IP(PM10), IP(cdepoz), K+(PM2.5), Mg2+(PM2.5), NH3, NH4+(PM2.5), NO, NO2, NO3_(PM2.5), NOx,Na+(PM2.5), Ni(PM10),\nNi(cdepoz), O3,OC(PM2.5), PM10, PM2.5, Pb(PM10), SO2, SO42_(PM2.5), acetylen, cis2buten, etan, etylen, etylobenzen, formaldehyd, ibutan, iheksan, ioktan, ipentan, izopren, ksylen, mpksylen, nbutan, nheksan, nheptan, noktan, npentan, oksylen, propan, propen, toluen, trans2buten",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosArchivalDataDto"
                }
              }
            }
          },
          "201": {
            "description": "Utworzono nowy zasób",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "202": {
            "description": "Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "204": {
            "description": "Brak zawartości",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "301": {
            "description": "Przeniesiono na stałe",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "303": {
            "description": "Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "304": {
            "description": "Nie modyfikowano od czasu wskazanego w zapytaniu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "400": {
            "description": "Błędne żądanie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "401": {
            "description": "Brak autoryzacji",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "403": {
            "description": "Dostęp zabroniony",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "404": {
            "description": "Nie znaleziono",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "405": {
            "description": "Nieodpowiednia metoda",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "406": {
            "description": "Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "410": {
            "description": "Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "422": {
            "description": "Zapytanie niepoprawne semantycznie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "429": {
            "description": "Zbyt wiele zapytań w jednostce czasu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "500": {
            "description": "Wewnętrzny błąd serwera",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "502": {
            "description": "Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "503": {
            "description": "Usługa czasowo niedostępna.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "504": {
            "description": "Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          }
        }
      }
    },
    "/pjp-api/v1/rest/concentration/getDistributionsOfConcentrationsMap": {
      "get": {
        "tags": [
          "Mapy rozkładów stężeń zanieczyszczeń"
        ],
        "summary": "getDistributionsOfConcentrationsMap",
        "description": "Usługa sieciowa udostępniająca dane prezentowane na mapach rozkładów stężeń z wybranego roku kalendarzowego, dla wybranego zanieczyszczenia, w podziale na kryterium ochrony zdrowia i ochrony roślin.\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/concentration/getDistributionsOfConcentrationsMap.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca plik do pobrania, zawierający dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/concentration/getDistributionsOfConcentrationsMap?year=2020&indicatorType=OZ&indicator=PM10_sr_roczna",
        "operationId": "getDistributionsOfConcentrationsMapUsingGET",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "Rok - dostępne są dane od 2019 roku",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "indicatorType",
            "in": "query",
            "description": "Typ wskaźnika: OZ - Ochrona zdrowia, OR - Ochrona roślin",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator",
            "in": "query",
            "description": "Wskaźnik ochrona zdrowia (OZ): PM10_sr_roczna, PM25_sr_roczna, NO2_sr_roczna, O3_3letnia, BaP_sr_roczna, SO2_25h_max, PM10_36_max, NO2_19h_max, SO2_4_max \u003C/br\u003EWskaźnik ochrona roślin (OR): SO2_sr_roczna, NOx_sr_roczna, O3_5letnia",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosConcentrationDistributionsDTO"
                }
              }
            }
          },
          "201": {
            "description": "Utworzono nowy zasób",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "202": {
            "description": "Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "204": {
            "description": "Brak zawartości",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "301": {
            "description": "Przeniesiono na stałe",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "303": {
            "description": "Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "304": {
            "description": "Nie modyfikowano od czasu wskazanego w zapytaniu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "400": {
            "description": "Błędne żądanie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "401": {
            "description": "Brak autoryzacji",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "403": {
            "description": "Dostęp zabroniony",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "404": {
            "description": "Nie znaleziono",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "405": {
            "description": "Nieodpowiednia metoda",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "406": {
            "description": "Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "410": {
            "description": "Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "422": {
            "description": "Zapytanie niepoprawne semantycznie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "429": {
            "description": "Zbyt wiele zapytań w jednostce czasu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "500": {
            "description": "Wewnętrzny błąd serwera",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "502": {
            "description": "Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "503": {
            "description": "Usługa czasowo niedostępna.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "504": {
            "description": "Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          }
        }
      }
    },
    "/pjp-api/v1/rest/data/getData/{idSensor}": {
      "get": {
        "tags": [
          "Bieżące dane pomiarowe"
        ],
        "summary": "getData",
        "description": "Usługa sieciowa udostępniająca dane pomiarowe na podstawie podanego identyfikatora stanowiska pomiarowego typu automatycznego. Dla stanowiska typu manualnego wyniki pomiarów nie są dostępne na bieżąco, są one udostępniane po 4-8 tygodniach od poboru próby przez usługę API „Archiwalne dane pomiarowe”\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/data/getData/{idSensor}.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/data/getData/52",
        "operationId": "getDataUsingGET",
        "parameters": [
          {
            "name": "idSensor",
            "in": "path",
            "description": "Identyfikator stanowiska np. 52                          \u003Cbr/\u003E Lista stacji i stanowisk pomiarowych wraz z ich id udostępniana jest poprzez usługi API \"Stacje pomiarowe i stanowiska pomiarowe”",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik.\nNumer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający ilość wyników na stronie.\nJest to dodatnia liczba całkowita podawana z kluczem parametru.\nDomyślna wartość → 20, Maksymalna wartość → 500.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę atrybutu znakiem minus. Parametr jest opcjonalny. \u003Cbr /\u003EDomyślne sortowanie odbywa się malejąco po atrybucie Data.    \u003Cbr /\u003E Dostępne atrybuty:    \u003Cbr /\u003E Data - parametr dla daty,    \u003Cbr /\u003E ",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosCurrentDataDTO"
                }
              }
            }
          },
          "201": {
            "description": "Utworzono nowy zasób",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "202": {
            "description": "Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "204": {
            "description": "Brak zawartości",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "301": {
            "description": "Przeniesiono na stałe",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "303": {
            "description": "Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "304": {
            "description": "Nie modyfikowano od czasu wskazanego w zapytaniu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "400": {
            "description": "Błędne żądanie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "401": {
            "description": "Brak autoryzacji",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "403": {
            "description": "Dostęp zabroniony",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "404": {
            "description": "Nie znaleziono",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "405": {
            "description": "Nieodpowiednia metoda",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "406": {
            "description": "Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "410": {
            "description": "Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "422": {
            "description": "Zapytanie niepoprawne semantycznie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "429": {
            "description": "Zbyt wiele zapytań w jednostce czasu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "500": {
            "description": "Wewnętrzny błąd serwera",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "502": {
            "description": "Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "503": {
            "description": "Usługa czasowo niedostępna.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "504": {
            "description": "Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          }
        }
      }
    },
    "/pjp-api/v1/rest/station/findAll": {
      "get": {
        "tags": [
          "Stacje pomiarowe i stanowiska pomiarowe"
        ],
        "summary": "getAutomaticAndManualStation",
        "description": "Usługa sieciowa udostępniająca listę stacji pomiarowych\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/station/findAll.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/station/findAll",
        "operationId": "getAutomaticAndManualStationUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik.\nNumer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający ilość wyników na stronie.\nJest to dodatnia liczba całkowita podawana z kluczem parametru.\nDomyślna wartość → 20, Maksymalna wartość → 500.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwę atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny.  \u003Cbr /\u003E Domyślne sortowanie odbywa się rosnąco po atrybucie Identyfikator stacji\u003Cbr /\u003E Dostępne atrybuty:    \u003Cbr /\u003E Id - parametr dla identyfikatora stacji,\u003Cbr /\u003E ",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosStationLd"
                }
              }
            }
          },
          "201": {
            "description": "Utworzono nowy zasób",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "202": {
            "description": "Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "204": {
            "description": "Brak zawartości",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "301": {
            "description": "Przeniesiono na stałe",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "303": {
            "description": "Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "304": {
            "description": "Nie modyfikowano od czasu wskazanego w zapytaniu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "400": {
            "description": "Błędne żądanie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "401": {
            "description": "Brak autoryzacji",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "403": {
            "description": "Dostęp zabroniony",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "404": {
            "description": "Nie znaleziono",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "405": {
            "description": "Nieodpowiednia metoda",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "406": {
            "description": "Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "410": {
            "description": "Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "422": {
            "description": "Zapytanie niepoprawne semantycznie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "429": {
            "description": "Zbyt wiele zapytań w jednostce czasu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "500": {
            "description": "Wewnętrzny błąd serwera",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "502": {
            "description": "Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "503": {
            "description": "Usługa czasowo niedostępna.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "504": {
            "description": "Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          }
        }
      }
    },
    "/pjp-api/v1/rest/station/sensors/{stationId}": {
      "get": {
        "tags": [
          "Stacje pomiarowe i stanowiska pomiarowe"
        ],
        "summary": "getAutomaticAndManualSensors",
        "description": "Usługa sieciowa udostępniająca listę stanowisk pomiarowych dostępnych na wybranej stacji pomiarowej\n\nhttps://api.gios.gov.pl/pjp-api/v1/rest/station/sensors/{stationId}.\nUsługa sieciowa typu REST wykorzystująca zapytanie HTTP GET. Udostępniająca dane w formacie JSON-LD.\n\nPrzykład zapytania: https://api.gios.gov.pl/pjp-api/v1/rest/station/sensors/52",
        "operationId": "getAutomaticAndManualSensorsUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający, którą stronę wyników chce pobrać użytkownik.\nNumer indeksu żądanej strony (liczony od zera). Domyślna wartość → 0.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Parametr mechanizmu stronicowania określający ilość wyników na stronie.\nJest to dodatnia liczba całkowita podawana z kluczem parametru.\nDomyślna wartość → 20, Maksymalna wartość → 500.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Parametr mechanizmu sortowania. Jako wartość przyjmuje nazwy atrybutu.                  Aby posortować w odwrotnej kolejności należy poprzedzić nazwę parametru znakiem minus. Parametr jest opcjonalny.  \u003Cbr /\u003E Domyślne sortowanie odbywa się rosnąco po atrybucie Identyfikator stanowiska. \u003Cbr /\u003E Dostępne atrybuty:    \u003Cbr /\u003E Id - parametr dla identyfikatora stanowiska\u003Cbr /\u003E ",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stationId",
            "in": "path",
            "description": "Identyfikator stacji pomiarowej np. 52 \u003Cbr/\u003E Lista stacji i stanowisk pomiarowych wraz z ich id udostępniana jest poprzez usługi API \"Stacje pomiarowe i stanowiska pomiarowe”",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosSensorLd"
                }
              }
            }
          },
          "201": {
            "description": "Utworzono nowy zasób",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "202": {
            "description": "Zaakceptowano zapytanie, odpowiedź jeszcze nie jest gotowa",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "204": {
            "description": "Brak zawartości",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "301": {
            "description": "Przeniesiono na stałe",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "303": {
            "description": "Zobacz inne: odpowiedź na zapytanie dostępna pod innym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "304": {
            "description": "Nie modyfikowano od czasu wskazanego w zapytaniu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "400": {
            "description": "Błędne żądanie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "401": {
            "description": "Brak autoryzacji",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "403": {
            "description": "Dostęp zabroniony",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "404": {
            "description": "Nie znaleziono",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "405": {
            "description": "Nieodpowiednia metoda",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "406": {
            "description": "Nieakceptowalne – treść nie może zostać przygotowana w sposób zasygnalizowany nagłówkami",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "409": {
            "description": "Konflikt",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "410": {
            "description": "Zasób usunięty i już nigdy nie będzie dostępny pod tym adresem",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "422": {
            "description": "Zapytanie niepoprawne semantycznie",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "429": {
            "description": "Zbyt wiele zapytań w jednostce czasu",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "500": {
            "description": "Wewnętrzny błąd serwera",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "502": {
            "description": "Błąd bramki – serwer otrzymał niepoprawną odpowiedź od serwera nadrzędnego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "503": {
            "description": "Usługa czasowo niedostępna.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          },
          "504": {
            "description": "Przekroczony czas oczekiwania na odpowiedź serwera wewnętrznego.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/GiosDataException"
                }
              }
            }
          }
        }
      }
    },
    "/pjp-api/v1/rest/metadata/sensors": {
      "get": {
        "tags": [
          "Metadane"
        ],
        "summary": "getSensorsMetadata",
[...]
